.env
gold_6h_indicators.csv
gold_daily_indicators.csv
silver_6h_indicators.csv
silver_daily_indicators.csv
platinum_6h_indicators.csv
platinum_daily_indicators.csv
sgd_6h_indicators.csv
sgd_daily_indicators.csv
myr_6h_indicators.csv
myr_daily_indicators.csv